<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" type="text/css" href="./static/main.css">

    <script src="./static/web3.min.js"></script>

</head>

<body>
    <div class="container">

        <h1>Coursetro Instructor</h1>
        <span id="countIns"></span>

        <h2 id="instructor"></h2>
        <span id="insTrans"></span>
        <hr>

        <img id="loader" src="https://loading.io/spinners/double-ring/lg.double-ring-spinner.gif">

        <label for="fName" class="col-lg-2 control-label">First Name</label>
        <input id="fName" type="text">

        <label for="lName" class="col-lg-2 control-label">Last Name</label>
        <input id="lName" type="text">

        <label for="age" class="col-lg-2 control-label">Instructor Age</label>
        <input id="age" type="text">

        <button id="button">Update Instructor</button>

    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>

    <script>
        if (typeof web3 !== 'undefined') {
            web3 = new Web3(web3.currentProvider);
        } else {
            // set the provider you want from Web3.providers
            web3 = new Web3(new Web3.providers.HttpProvider('<%- provider -%>'));
        }

        web3.eth.defaultAccount = web3.eth.accounts[0];

        var CoursetroContract = web3.eth.contract('<%-JSON.stringify(abi)-%>');

        var Coursetro = CoursetroContract.at('<%-contractAddress-%>');

        var instructorEvent = Coursetro.instructorInfo({}, 'latest');

        instructorEvent.watch(function(error, result) {
            if (!error) {
                if (result.blockHash != $("#instrans").html())
                    $("#loader").hide();

                $("#insTrans").html('Block hash: ' + result.blockHash);
                $("#instructor").html(web3.toAscii(result.args.fName) + ' ' + web3.toAscii(result.args.lName) + ' (' + result.args.age + ' years old)');
            } else {
                $("#loader").hide();
                console.log(error);
            }
        });

        Coursetro.countInstructors((err, res) => {
            if (res)
                $("#countIns").html(res.c + ' Instructors');
        });

        $("#button").click(function() {
            $("#loader").show();
            Coursetro.setInstructor(web3.eth.defaultAccount, $("#age").val(), $("#fName").val(), $("#lName").val(), (err, res) => {
                if (err)
                    $("#loader").hide();
            });
        });

        instructorEvent.watch(function(error, result) {
            if (!error) {
                $("#loader").hide();
                $("#instructor").html(result.args.name + ' (' + result.args.age + ' years old)');
            } else {
                $("#loader").hide();
                console.log(error);
            }
        });
    </script>

</body>

</html>